# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
*.egg
dist/
build/
*.so

# Virtual environments
.venv/
venv/

# IDE
.vscode/
.idea/
*.swp
*.swo


# OS
.DS_Store
Thumbs.db

# Jupyter
.ipynb_checkpoints/

# logs and temporary files
*.log
.cluster_name_gpu
.cluster_name_tpu
